In [39]:
import pandas as pd
import numpy as np

LC_data = pd.read_csv('../data/Life Cycle/example/LC_export 3.csv')
sd = LC_data['START DATE(UTC)']
type(LC_data)
LC_data

,START DATE(UTC),END DATE(UTC),START TIME(LOCAL),END TIME(LOCAL),DURATION,NAME,LOCATION
0,2017-01-22 10:11:30,2017-01-23 09:46:11,2017-01-22 11:11:30 CET,2017-01-23 10:46:11 CET,84881,Home,
1,2017-01-22 23:39:54,2017-01-23 07:00:02,2017-01-23 00:39:54 CET,2017-01-23 08:00:02 CET,26408,Sleep,
2,2017-01-23 09:46:18,2017-01-23 09:52:19,2017-01-23 10:46:18 CET,2017-01-23 10:52:19 CET,361,Waiting Bus,
3,2017-01-23 09:52:19,2017-01-23 10:00:53,2017-01-23 10:52:19 CET,2017-01-23 11:00:53 CET,514,Transport,
4,2017-01-23 10:00:53,2017-01-23 10:29:04,2017-01-23 11:00:53 CET,2017-01-23 11:29:04 CET,1691,ORP,ORP
5,2017-01-23 10:29:04,2017-01-23 10:33:40,2017-01-23 11:29:04 CET,2017-01-23 11:33:40 CET,276,Walk,
6,2017-01-23 10:40:49,2017-01-23 10:45:01,2017-01-23 11:40:49 CET,2017-01-23 11:45:01 CET,252,Transport,
7,2017-01-23 10:45:47,2017-01-24 08:55:12,2017-01-23 11:45:47 CET,2017-01-24 09:55:12 CET,79765,Home,
8,2017-01-23 23:52:41,2017-01-24 07:30:03,2017-01-24 00:52:41 CET,2017-01-24 08:30:03 CET,27442,Sleep,
9,2017-01-24 08:55:12,2017-01-24 09:04:35,2017-01-24 09:55:12 CET,2017-01-24 10:04:35 CET,563,Walk,
10,2017-01-24 09:06:05,2017-01-24 09:43:44,2017-01-24 10:06:05 CET,2017-01-24 10:43:44 CET,2259,Pediatra Artur,Pediatre Artur
11,2017-01-24 09:43:44,2017-01-24 09:55:14,2017-01-24 10:43:44 CET,2017-01-24 10:55:14 CET,690,Walk,
12,2017-01-24 09:55:15,2017-01-25 09:38:38,2017-01-24 10:55:15 CET,2017-01-25 10:38:38 CET,85403,Home,
13,2017-01-24 23:19:20,2017-01-25 07:00:05,2017-01-25 00:19:20 CET,2017-01-25 08:00:05 CET,27645,Sleep,
14,2017-01-25 09:38:38,2017-01-25 10:08:08,2017-01-25 10:38:38 CET,2017-01-25 11:08:08 CET,1770,Transport,
15,2017-01-25 09:38:38,2017-01-25 10:09:02,2017-01-25 10:38:38 CET,2017-01-25 11:09:02 CET,1824,Commute to work,
16,2017-01-25 10:09:02,2017-01-25 18:21:26,2017-01-25 11:09:02 CET,2017-01-25 19:21:26 CET,29544,Work,Biopole SimplicityBio Office
17,2017-01-25 18:21:26,2017-01-25 18:52:35,2017-01-25 19:21:26 CET,2017-01-25 19:52:35 CET,1869,Commute to home,
18,2017-01-25 18:25:49,2017-01-25 18:51:45,2017-01-25 19:25:49 CET,2017-01-25 19:51:45 CET,1556,Transport,
19,2017-01-25 18:52:35,2017-01-26 07:40:04,2017-01-25 19:52:35 CET,2017-01-26 08:40:04 CET,46049,Home,
20,2017-01-25 23:00:58,2017-01-26 06:30:23,2017-01-26 00:00:58 CET,2017-01-26 07:30:23 CET,26965,Sleep,
21,2017-01-26 07:40:04,2017-01-26 08:09:03,2017-01-26 08:40:04 CET,2017-01-26 09:09:03 CET,1739,Transport,
22,2017-01-26 07:40:04,2017-01-26 08:09:03,2017-01-26 08:40:04 CET,2017-01-26 09:09:03 CET,1739,Commute to work,
23,2017-01-26 08:09:03,2017-01-26 14:25:19,2017-01-26 09:09:03 CET,2017-01-26 15:25:19 CET,22576,Work,Biopole SimplicityBio Office
24,2017-01-26 14:25:19,2017-01-26 15:03:18,2017-01-26 15:25:19 CET,2017-01-26 16:03:18 CET,2279,Commute to home,
25,2017-01-26 14:58:48,2017-01-26 15:03:17,2017-01-26 15:58:48 CET,2017-01-26 16:03:17 CET,269,Walk,
26,2017-01-26 15:03:18,2017-01-27 07:21:22,2017-01-26 16:03:18 CET,2017-01-27 08:21:22 CET,58684,Home,
27,2017-01-26 23:34:30,2017-01-27 06:33:59,2017-01-27 00:34:30 CET,2017-01-27 07:33:59 CET,25169,Sleep,
28,2017-01-27 07:21:21,2017-01-27 07:48:19,2017-01-27 08:21:21 CET,2017-01-27 08:48:19 CET,1618,Commute to work,
29,2017-01-27 07:22:18,2017-01-27 07:48:19,2017-01-27 08:22:18 CET,2017-01-27 08:48:19 CET,1561,Transport,
...,...,...,...,...,...,...,...
2587,2018-02-25 19:30:15,2018-02-25 19:46:04,2018-02-25 20:30:15 CET,2018-02-25 20:46:04 CET,949,Transport,
2588,2018-02-25 19:46:04,2018-02-26 09:40:28,2018-02-25 20:46:04 CET,2018-02-26 10:40:28 CET,50064,Home,
2589,2018-02-25 22:52:01,2018-02-26 08:59:09,2018-02-25 23:52:01 CET,2018-02-26 09:59:09 CET,36428,Sleep,
2590,2018-02-26 09:40:59,2018-02-26 09:47:05,2018-02-26 10:40:59 CET,2018-02-26 10:47:05 CET,366,Walk,
2591,2018-02-26 09:47:06,2018-02-26 11:20:33,2018-02-26 10:47:06 CET,2018-02-26 12:20:33 CET,5607,Pediatra Artur,Pediatre Artur
2592,2018-02-26 11:22:44,2018-02-28 09:14:09,2018-02-26 12:22:44 CET,2018-02-28 10:14:09 CET,165085,Home,
2593,2018-02-27 00:34:43,2018-02-27 09:29:24,2018-02-27 01:34:43 CET,2018-02-27 10:29:24 CET,32081,Sleep,
2594,2018-02-27 22:39:57,2018-02-28 07:00:04,2018-02-27 23:39:57 CET,2018-02-28 08:00:04 CET,30007,Sleep,
2595,2018-02-28 09:14:09,2018-02-28 09:20:22,2018-02-28 10:14:09 CET,2018-02-28 10:20:22 CET,373,Walk,
2596,2018-02-28 09:28:08,2018-02-28 09:37:42,2018-02-28 10:28:08 CET,2018-02-28 10:37:42 CET,574,Walk,
2597,2018-02-28 09:37:43,2018-02-28 12:27:21,2018-02-28 10:37:43 CET,2018-02-28 13:27:21 CET,10178,Home,
2598,2018-02-28 12:28:06,2018-03-16 13:53:11,2018-02-28 13:28:06 CET,2018-03-16 14:53:11 CET,1387505,Home,Av. Des Figuiers 31
2599,2018-02-28 23:17:14,2018-03-01 07:00:03,2018-03-01 00:17:14 CET,2018-03-01 08:00:03 CET,27769,Sleep,
2600,2018-03-01 22:45:35,2018-03-02 08:31:39,2018-03-01 23:45:35 CET,2018-03-02 09:31:39 CET,35164,Sleep,
2601,2018-03-04 10:25:56,2018-03-04 16:43:18,2018-03-04 11:25:56 CET,2018-03-04 17:43:18 CET,22642,Sleep,
2602,2018-03-05 20:39:54,2018-03-06 07:34:14,2018-03-05 21:39:54 CET,2018-03-06 08:34:14 CET,39260,Sleep,
2603,2018-03-06 23:26:30,2018-03-07 07:00:03,2018-03-07 00:26:30 CET,2018-03-07 08:00:03 CET,27213,Sleep,
2604,2018-03-07 22:09:22,2018-03-08 06:30:05,2018-03-07 23:09:22 CET,2018-03-08 07:30:05 CET,30043,Sleep,
2605,2018-03-09 00:08:32,2018-03-09 06:44:47,2018-03-09 01:08:32 CET,2018-03-09 07:44:47 CET,23775,Sleep,
2606,2018-03-09 23:38:59,2018-03-10 07:30:03,2018-03-10 00:38:59 CET,2018-03-10 08:30:03 CET,28264,Sleep,
2607,2018-03-10 22:31:44,2018-03-11 06:38:48,2018-03-10 23:31:44 CET,2018-03-11 07:38:48 CET,29224,Sleep,
2608,2018-03-11 23:01:12,2018-03-12 06:41:46,2018-03-12 00:01:12 CET,2018-03-12 07:41:46 CET,27634,Sleep,
2609,2018-03-12 22:31:33,2018-03-13 10:03:03,2018-03-12 23:31:33 CET,2018-03-13 11:03:03 CET,41490,Sleep,
2610,2018-03-14 00:46:10,2018-03-14 07:59:12,2018-03-14 01:46:10 CET,2018-03-14 08:59:12 CET,25982,Sleep,
2611,2018-03-14 20:49:32,2018-03-15 07:12:56,2018-03-14 21:49:32 CET,2018-03-15 08:12:56 CET,37404,Sleep,
2612,2018-03-15 22:06:52,2018-03-16 07:35:13,2018-03-15 23:06:52 CET,2018-03-16 08:35:13 CET,34101,Sleep,Av. Des Figuiers 31
2613,2018-03-16 13:53:11,2018-03-16 14:02:02,2018-03-16 14:53:11 CET,2018-03-16 15:02:02 CET,531,Walk,
2614,2018-03-16 14:02:03,2018-03-16 16:56:45,2018-03-16 15:02:03 CET,2018-03-16 17:56:45 CET,10482,Home,Av. Des Figuiers 31
2615,2018-03-16 16:58:17,2018-03-16 17:32:56,2018-03-16 17:58:17 CET,2018-03-16 18:32:56 CET,2079,Family time,Playground
2616,2018-03-16 17:33:25,2018-03-16 21:04:46,2018-03-16 18:33:25 CET,2018-03-16 22:04:46 CET,12681,Home,Av. Des Figuiers 31

In [42]:
LC_data.columns = ['Start_Date', 'End_Date','Start_Time','End_time','Duration','Name','Location']
LC_data.Start_Date

0       2017-01-22 10:11:30
1       2017-01-22 23:39:54
2       2017-01-23 09:46:18
3       2017-01-23 09:52:19
4       2017-01-23 10:00:53
5       2017-01-23 10:29:04
6       2017-01-23 10:40:49
7       2017-01-23 10:45:47
8       2017-01-23 23:52:41
9       2017-01-24 08:55:12
10      2017-01-24 09:06:05
11      2017-01-24 09:43:44
12      2017-01-24 09:55:15
13      2017-01-24 23:19:20
14      2017-01-25 09:38:38
15      2017-01-25 09:38:38
16      2017-01-25 10:09:02
17      2017-01-25 18:21:26
18      2017-01-25 18:25:49
19      2017-01-25 18:52:35
20      2017-01-25 23:00:58
21      2017-01-26 07:40:04
22      2017-01-26 07:40:04
23      2017-01-26 08:09:03
24      2017-01-26 14:25:19
25      2017-01-26 14:58:48
26      2017-01-26 15:03:18
27      2017-01-26 23:34:30
28      2017-01-27 07:21:21
29      2017-01-27 07:22:18
               ...
2587    2018-02-25 19:30:15
2588    2018-02-25 19:46:04
2589    2018-02-25 22:52:01
2590    2018-02-26 09:40:59
2591    2018-02-26 09:47:06
2592    2018-02-26 11:22:44
2593    2018-02-27 00:34:43
2594    2018-02-27 22:39:57
2595    2018-02-28 09:14:09
2596    2018-02-28 09:28:08
2597    2018-02-28 09:37:43
2598    2018-02-28 12:28:06
2599    2018-02-28 23:17:14
2600    2018-03-01 22:45:35
2601    2018-03-04 10:25:56
2602    2018-03-05 20:39:54
2603    2018-03-06 23:26:30
2604    2018-03-07 22:09:22
2605    2018-03-09 00:08:32
2606    2018-03-09 23:38:59
2607    2018-03-10 22:31:44
2608    2018-03-11 23:01:12
2609    2018-03-12 22:31:33
2610    2018-03-14 00:46:10
2611    2018-03-14 20:49:32
2612    2018-03-15 22:06:52
2613    2018-03-16 13:53:11
2614    2018-03-16 14:02:03
2615    2018-03-16 16:58:17
2616    2018-03-16 17:33:25
Name: Start_Date, Length: 2617, dtype: object

In [45]:
LC_data['Start_Date'] = pd.to_datetime(LC_data.Start_Date)
LC_data.dtypes

Start_Date    datetime64[ns]
End_Date              object
Start_Time            object
End_time              object
Duration               int64
Name                  object
Location              object
dtype: object

In [49]:
LC_data.Start_Date.dt.weekday_name

0          Sunday
1          Sunday
2          Monday
3          Monday
4          Monday
5          Monday
6          Monday
7          Monday
8          Monday
9         Tuesday
10        Tuesday
11        Tuesday
12        Tuesday
13        Tuesday
14      Wednesday
15      Wednesday
16      Wednesday
17      Wednesday
18      Wednesday
19      Wednesday
20      Wednesday
21       Thursday
22       Thursday
23       Thursday
24       Thursday
25       Thursday
26       Thursday
27       Thursday
28         Friday
29         Friday
          ...
2587       Sunday
2588       Sunday
2589       Sunday
2590       Monday
2591       Monday
2592       Monday
2593      Tuesday
2594      Tuesday
2595    Wednesday
2596    Wednesday
2597    Wednesday
2598    Wednesday
2599    Wednesday
2600     Thursday
2601       Sunday
2602       Monday
2603      Tuesday
2604    Wednesday
2605       Friday
2606       Friday
2607     Saturday
2608       Sunday
2609       Monday
2610    Wednesday
2611    Wednesday
2612     Thursday
2613       Friday
2614       Friday
2615       Friday
2616       Friday
Name: Start_Date, Length: 2617, dtype: object

In [74]:
ss = LC_data.Start_Date.dt.date
sss = list(set(ss))
aa = list(ss)
print(ss.unique()[2])

2017-01-24

In [112]:
np.where(LC_data.Start_Date.dt.date== '2017-01-22')[0]
LC_data.Start_Date== ss.unique()[2]
index_date = np.where(LC_data.Start_Date.dt.date==ss.unique()[2])
type(index_date)
index_date[0][4]

13

In [297]:
##Final code
import pandas as pd
import numpy as np

LC_data = pd.read_csv('../data/Life Cycle/example/LC_export 3.csv')
LC_data.columns = ['Start_Date', 'End_Date','Start_Time','End_time','Duration','Name','Location']
LC_data['Start_Date'] = pd.to_datetime(LC_data.Start_Date)
unique_days_list = LC_data.Start_Date.dt.date

index_hours_same_day = np.where(LC_data.Start_Date.dt.date==unique_days_list.unique()[2])
index_hours_same_day[0][4]
events_at_day = LC_data.Start_Date[list(index_hours_same_day[0][:])]

columns_ud = ['Unique_Days']
New_data_days_unique = pd.DataFrame(unique_days_list.index,columns=columns_ud)

for i in New_data_days_unique.index:
    New_data_days_unique['Unique_Days'][i]= pd.Timestamp.strftime(unique_days_list[i],'%Y-%m-%d')
    
List_unique = New_data_days_unique['Unique_Days'].tolist()

sset = set(New_data_days_unique['Unique_Days'].tolist())

sset = list(sset)

In [218]:
import pandas as pd
LC_data = pd.read_csv('../data/Life Cycle/example/LC_export 3.csv')
LC_data.columns = ['Start_Date', 'End_Date','Start_Time','End_time','Duration','Name','Location']
LC_data['Start_Date'] = pd.to_datetime(LC_data.Start_Date)

columns = ['Start_Date']
New_data = pd.DataFrame(index=LC_data['Start_Date'].index,columns=columns)

for i in New_data.index:
    New_data['Start_Date'][i]= pd.Timestamp.strftime(LC_data['Start_Date'][i],'%Y-%m-%d %H:%M:%S')
    
New_data

               Start_Date
0     2017-01-22 10:11:30
1     2017-01-22 23:39:54
2     2017-01-23 09:46:18
3     2017-01-23 09:52:19
4     2017-01-23 10:00:53
5     2017-01-23 10:29:04
6     2017-01-23 10:40:49
7     2017-01-23 10:45:47
8     2017-01-23 23:52:41
9     2017-01-24 08:55:12
10    2017-01-24 09:06:05
11    2017-01-24 09:43:44
12    2017-01-24 09:55:15
13    2017-01-24 23:19:20
14    2017-01-25 09:38:38
15    2017-01-25 09:38:38
16    2017-01-25 10:09:02
17    2017-01-25 18:21:26
18    2017-01-25 18:25:49
19    2017-01-25 18:52:35
20    2017-01-25 23:00:58
21    2017-01-26 07:40:04
22    2017-01-26 07:40:04
23    2017-01-26 08:09:03
24    2017-01-26 14:25:19
25    2017-01-26 14:58:48
26    2017-01-26 15:03:18
27    2017-01-26 23:34:30
28    2017-01-27 07:21:21
29    2017-01-27 07:22:18
...                   ...
2587  2018-02-25 19:30:15
2588  2018-02-25 19:46:04
2589  2018-02-25 22:52:01
2590  2018-02-26 09:40:59
2591  2018-02-26 09:47:06
2592  2018-02-26 11:22:44
2593  2018-02-27 00:34:43
2594  2018-02-27 22:39:57
2595  2018-02-28 09:14:09
2596  2018-02-28 09:28:08
2597  2018-02-28 09:37:43
2598  2018-02-28 12:28:06
2599  2018-02-28 23:17:14
2600  2018-03-01 22:45:35
2601  2018-03-04 10:25:56
2602  2018-03-05 20:39:54
2603  2018-03-06 23:26:30
2604  2018-03-07 22:09:22
2605  2018-03-09 00:08:32
2606  2018-03-09 23:38:59
2607  2018-03-10 22:31:44
2608  2018-03-11 23:01:12
2609  2018-03-12 22:31:33
2610  2018-03-14 00:46:10
2611  2018-03-14 20:49:32
2612  2018-03-15 22:06:52
2613  2018-03-16 13:53:11
2614  2018-03-16 14:02:03
2615  2018-03-16 16:58:17
2616  2018-03-16 17:33:25

[2617 rows x 1 columns]

In [211]:
columns = ['Start_Date']
New_data = pd.DataFrame(index=LC_data['Start_Date'].index,columns=columns)
New_data
New_data['Start_Date'][1]= pd.Timestamp.strftime(LC_data['Start_Date'][1],'%Y-%m-%d %H:%M:%S')
New_data

               Start_Date
0                     NaN
1     2017-01-22 23:39:54
2                     NaN
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7                     NaN
8                     NaN
9                     NaN
10                    NaN
11                    NaN
12                    NaN
13                    NaN
14                    NaN
15                    NaN
16                    NaN
17                    NaN
18                    NaN
19                    NaN
20                    NaN
21                    NaN
22                    NaN
23                    NaN
24                    NaN
25                    NaN
26                    NaN
27                    NaN
28                    NaN
29                    NaN
...                   ...
2587                  NaN
2588                  NaN
2589                  NaN
2590                  NaN
2591                  NaN
2592                  NaN
2593                  NaN
2594                  NaN
2595                  NaN
2596                  NaN
2597                  NaN
2598                  NaN
2599                  NaN
2600                  NaN
2601                  NaN
2602                  NaN
2603                  NaN
2604                  NaN
2605                  NaN
2606                  NaN
2607                  NaN
2608                  NaN
2609                  NaN
2610                  NaN
2611                  NaN
2612                  NaN
2613                  NaN
2614                  NaN
2615                  NaN
2616                  NaN

[2617 rows x 1 columns]